<!DOCTYPE html>
<html lang="en" ng-app="pinCodes">
    <head>
        <title>Angular-zipcode</title>
        <link href="css/main.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaIosEdaJkeeUdns-WqiuEBiiMm-j7lc"
        type="text/javascript"></script>
    </head>
    <body>
        <ng-view class="view"></ng-view>
    </body>
    <script src="js/scripts.js"></script>
</html>
